@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
/* font-family: 'Plus Jakarta Sans', sans-serif; */
/* font-family: 'Viga', sans-serif; */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Viga', sans-serif;
}

/* INICIO ANIMATION LOAD*/
#container-load {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: transparent;
  display: grid;
  place-items: center;
  place-content: center;
}
#container-load .content-load {
  width: 5rem;
  height: 100vh;
  background: transparent;
  display: grid;
  place-content: center;
  position: absolute;
  padding-top: 20rem;
  background: transparent;
}
#container-load .loader {
  border: .45rem solid #f3f3f3;
  border-radius: 50%;
  border-top: .45rem solid #000;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
  display: grid;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* FIN ANIMATION LOAD*/




/* SALUDO INICIAL*/

.container-saludo {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  place-items: center;
  background: #ff213c;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
}
.container-saludo h2 {
  display: grid;
  place-content: center;
  place-items: center;
  width: 50%;
  height: auto;
  font-size: 2.8rem;
  color: white;
  margin: 0 auto;
  font-family: 'Viga', sans-serif;
}

.container-saludo .formulario{
  display: grid;
  grid-template-rows: repeat(2, auto);
  width: 25rem;
  height: auto;
  background: transparent;
  margin: 0 auto;
}

.formulario .remember {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  background: transparent;
  place-content: center;
  place-items: center;
}
.remember #texto {
  display: inline-block;
  font-size: 1rem;
  color: white;
  margin: 0 1rem 0 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.remember #entername {
  width: 9rem;
  height: 3.5rem;
  margin: 0 auto;
  border: none;
  border-bottom: .1rem solid white;
  background: transparent;
  color: white;
  outline: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
  text-align: center;
}
.remember #submitname {
  display: grid;
  width: 4.5rem;
  height: 4.5rem;
  grid-column: 3;
  background: blue;
  border: none;
  background: transparent;
  margin: 0 0 0 1rem;
}

.remember #submitname #imgEnter {
  width: 100%;
  height: 100%;
}

.formulario .forget {
  height: auto;
  background: transparent;
  position: absolute;
  bottom: 2.8rem;
  right: 2.8rem;
}

.forget #forgetname {
  width: 9rem;
  height: 4rem;
  background: white;
  display: none;
  place-content: center;
  border: none;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #ff213c;
  font-weight: bold;
}

.container-saludo h1 {
  display: grid;
  text-align: center;
  width: auto;
  height: auto;
  background: transparent;
  font-size: 1.4rem;
  position: absolute;
  bottom: 21rem;
  color: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  /*border-bottom: .1rem solid white;*/
  text-decoration: overlin;
}

/* FIN SALUDO INICIAL*/
.container-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  margin: 0 auto;
}

/* INICIO DE HEADER */

header {
  width: 100%;
  height: 9rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 0 auto;
  background-color: transparent;
}
header .content-header1 {
  display: flex;
  width: 9rem;
  height: 100%;
  background-color: transparent;
}
.content-header1 .container-logo {
  width: 9rem;
  height: 9rem;
  margin: 0 auto;
  display: grid;
  place-content: center;
  background: #FF213C;
  color: white;
  border-end-end-radius: 50%;
}
.container-logo #imgLogo {
  width: 7.5rem;
  height: 7.5rem;
  margin: 0 auto;
  border-radius: 50%;
}
header .content-header2 {
  display: flex;
  justify-content: flex-end;
  width: 27rem;
  height: 100%;
}
.content-header2 .container-profile{
  width: 9rem;
  height: 9rem;
  display: grid;
  place-content: center;
  background: transparent;
}

.container-profile #imgProfile {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 auto;
}
/* FIN DE HEADER*/


/* INICIO CONTAINER QUOTE*/

.container-quote {
  width: 100%;
  height: 10.3rem;
  background: transparent;
  display: grid;
  place-content: center;
  margin: 0 auto;
}
.container-quote p {
  display: inline-block;
  width: 80%;
  height: auto;
  text-align: center;
  background: transparent;
  margin: 0 auto;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
}

/* FINAL CONTAINER QUOTE*/


/* INICIO BAR LATERAL */

.bar-lateral {
  width: 5.5rem;
  height: 39.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #d9d9d9;
  position: fixed;
  top: 19.3rem;
  right: 0;
  border: none;
  border-radius: 5rem 0 0 5rem;
}
.bar-lateral .container-main-imgs {
  width: 100%;
  height: 31.8rem;
  display: flex;
  background-color: transparent;
  margin: 0 auto;
}
.container-main-imgs .container-imgs {
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  place-content: center;
  place-items: center;
  background-color: white;
  margin: 0 auto;
  border: none;
  border-radius: 50%;
}
.container-imgs img {
  width: 1.75rem;
  height: 1.75rem;
  margin: 0 auto;
}

/* FINAL DE BAR LATERAL*/




/* INICIO CONOCMETRO*/

.container-cronometro {
  width: 100%;
  height: 20.7rem;
  background: transparent;
  margin: 0 auto;
  display: grid;
  place-content: center;
}
.container-cronometro .circle {
  width: 22rem;
  height: auto;
  color: black;
  margin: 0 auto;
  display: grid;
  place-content: center;
}

.circle .stopwatch {
  font-size: 6.4rem;
  color: black;
  margin: 0 auto;
  background-color: transparent;
  margin: 0 auto 1rem auto;
}

.buttons {
  width: 100%;
  height: 2rem;
  margin: 0 auto;
  background: transparent;
  display: flex;
  justify-content: center;
}

.paused {
  width: 20px;
  height: 20px;
  border-width: 10px 0px 10px 20px;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 15px;
  border-color: transparent transparent transparent black;
  transition: 100ms all ease;
  will-change: border-width;
  border-style: solid;
  background: transparent;
}

.running {
  border-style: double;
  border-width: 0 0 0 21.5px;
  background: transparent;
}

.stop {
  height: 20px;
  width: 20px;
  cursor: pointer;
  background: black;
}


/* FIN DE CRONOMETRO*/

/* SEPARADOR*/
.separador{
  width: 100%;
  height: .3rem;
  background-color: #c3c3c3;
  margin: 0 auto;
}

/*TO DO*/
.container{
  width: 27.5rem;
  min-height: 20rem;
  height: auto;
  background: transparent;
  margin: 3rem  0 0 2rem ;
}

.todoList{
  display: flex;
  margin: 0 0 1.8rem 0;
  align-items: center;
  background: transparent;
  padding: .5rem;
  height: 4rem;
  flex-wrap: wrap;
  width: 100%;
}
.container-taskList {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: transparent;
}
.deleteTask{
  display: grid;
  place-content: center;
  cursor: pointer;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0;
  background: transparent;
  border: none;
  color: #ffffff;
  outline: none;
  align-items: center;
  margin: 0 1rem 0 0;
  padding: 0;
}

#imgDeleteTask {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 auto;
  background-color: transparent;
}
.pText{
  width: 22rem;
  height: 3.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #d9d9d9;
  text-transform: capitalize;
  color: black;
  border: none;
  border-radius: 1.5rem;
  padding: 0 0 0 2rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
}
.inputValue{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  background: transparent;
  width: 100%;
  height: 100%;
}
.inputValue .container-title-todo {
  display: flex;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: auto;
  background: transparent;
}
.container-title-todo h2 {
  font-size: 4rem;
  display: inline-block;
  background-color: transparent;
  margin: 0 0 1rem 0;
}
.inputVal{
  width: 22.5rem;
  height: 3.5rem;
  grid-column: 1;
  grid-row: 2;
  border: none;
  border-radius: 1.5rem;
  background: #d9d9d9;
  display: flex;
  outline: none;
  padding: 0 2rem 0 2rem;
  margin: 0 0 3rem 0;
  font-size: 1rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.btn{
  display: grid;
  place-content: center;
  place-items: center;
  place-self: top;
  width: 3.5rem;
  height: 3.5rem;
  grid-column: 2;
  grid-row: 2;
  background: transparent;
  outline-style: none;
  border: none;
  margin: 0;
}
.btn #addTask {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 auto;
}
.clearTask{
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-content: center;
  place-items: center;
  width: 15rem;
  height: 5rem;
  position: fixed;
  bottom: 2.8rem;
  left: 30%;
  background: #FF213C;
  color: #ffffff;
  border-radius: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  outline-style: none;
  border: none;
}
.clearTask img {
  width: 2.5rem;
  height: 2.5rem;
}
.clearTask h3 {
  font-size: 1rem;
  margin: 0 0 0 .6rem;
  text-align: center;
  font-family: 'Viga', sans-serif;
}





/*FIN LISTA DE TAREAS*/
/*FIN TO DO*/
